body {
    display: flex;
    justify-content: center;
    background: gray;
    transition: all 1s;
    width: 100vw;
    height: 100vh;
}

#root {}

.ninjas form {
    background: #fff;
    padding: 20px;
}

.ninja-list {
    flex-direction: row;
    max-width: 90%;
}

.ninja {
    width: 15vw;
    display: inline-block;
    text-align: center;
}

button {
    padding: 5px 5px;
    margin: 10px 0;
    font-weight: bold;
}