body {
    display: flex;
    justify-content: center;
    background: gray;
    transition: all 1s;
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.App h1, p {
    text-align: center;
}

.ninjas form {
    background: #fff;
    padding: 20px;
}

.ninja-list {
    flex-direction: row;
    width: 100%;
}

.ninja {
    width: 15vw;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

button {
    padding: 5px 5px;
    margin: 10px 0;
    font-weight: bold;
}